@import "tailwindcss";

/* add the font */
* {
  font-family: "Public Sans", sans-serif;
}

@theme {
  /* ## Colors */

  /* ### Primary */

  --color-Dark-Blue: hsl(233, 26%, 24%);
  --color-Lime-Green: hsl(136, 65%, 51%);
  --color-Bright-Cyan: hsl(192, 70%, 51%);

  /* ### Neutral */

  --color-Grayish-Blue: hsl(233, 8%, 62%);
  --color-Light-Grayish-Blue: hsl(220, 16%, 96%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);
}

/* fading out the page when them MobileNav is rendered and vis versa... */
body.overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #8489a8;
  opacity: 0.7;
  inset: 0;
}

/* hamburger menu */
.hamburger {
  transition: all 0.25s;
  span {
    transition: all 0.5s;
  }
}
.hamburger-bottom {
  transform: translateY(14px);
}
.hamburger.open {
  transform: rotate(90deg);
  transform: translateY(0px);

  .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }

  .hamburger-middle {
    display: none;
  }

  .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
}

/* mobile nav animation */
#menu {
  animation: show-nav 1s ease 1 forwards;
  &.fade-nav {
    animation: fade-nav 1s ease 1 forwards;
  }
}

@keyframes show-nav {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes fade-nav {
  to {
    transform: translateX(105%);
  }
}
